::ng-deep{
    mat-icon.mat-icon.notranslate.time-icon.material-icons.mat-icon-no-color {
        font-size: 18px;
    }
    // .mat-icon-button {
    //     padding: 0;
    //     min-width: 0;
    //     width: 19px;
    //     font-size: 10px;
    // }
    mat-datepicker-toggle button.mat-focus-indicator.mat-icon-button.mat-button-base {
        width: 22px;
    }

    svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
        font-size: 10px;
        width: 20px;
    }

} 