@import 'variables';

:host, form {
	display: block;
	width: inherit;
	height: inherit;
	overflow: hidden;
}

.row {

	display: inline-grid;
	grid-template-rows: auto;
	gap: $padding;

	> *:last-child {
		padding-right: $padding;
	}

	&.half-half {
		grid-template-columns: minmax(50%, ($target-form-width * .5 - $padding)) minmax(50%, ($target-form-width * .5 - $padding));
	}
	&.big-small {
		grid-template-columns: minmax(66.6%, ($target-form-width * .666 - $padding)) minmax(33.3%, ($target-form-width * .333 - $padding));
	}
}

.mobile {
	width: 33.3%;
	max-width: ($target-form-width * .333);
	display: block;
}
.pass-exist,
.multi {
	width: 50%;
	max-width: ($target-form-width * .5);
}
.timezone {
	width: 100%;
	max-width: $target-form-width;
}
// .first,
// .last {
// 	width: 50%;
// 	max-width: ($target-form-width * .5);
// }
// .email {
// 	width: 75%;
// 	max-width: ($target-form-width * .75);
// }
// .login,
// .mobile,
// .multi,
// .pass-exist,
// .pass-new,
// .pass-confirm {
// 	width: 25%;
// 	max-width: ($target-form-width * .25);
// }


@media screen and (max-width: $target-form-width) {
	.row * {
		display: block;
		width: 100%;
		max-width: unset;
		// margin-left: 0 !important;
	}
}
