<mat-card
  [style.paddingTop.px]="component.componentSettings.padding_top"
  [style.paddingRight.px]="component.componentSettings.padding_right"
  [style.paddingBottom.px]="component.componentSettings.padding_bottom"
  [style.paddingLeft.px]="component.componentSettings.padding_left"
  [style.backgroundColor]="component.componentSettings.background_color"
  [style.borderRadius.px]="component.componentSettings.rounded_corners"
  [style.height.px]="component.element.height > 0 ? component.element.height : 'auto'"
>
</mat-card>
