:host, a {
	display: block;
	width: 20px;
	height: 20px;
	color: #3F6F85 !important;

}
a:not(:disabled) {
	cursor: pointer;
}

mat-icon.mat-icon.notranslate.mat-\#3F6F85.material-icons.mat-icon-no-color {
	    font-size: 15px;


}
mat-icon {
	vertical-align:middle;
  }
  
  .a {
	padding-top:8px;
	vertical-align:middle;
  }