@use 'sass:math';
@import 'variables';

form {
	display: grid;

	grid-template-columns: auto auto auto auto;
	gap: math.div($padding, 2);

	.password {
		grid-column: span 3;
	}

// password
// clipboard
// email
// cancel
// submit
}
