<form [formGroup]="form" (submit)="submit()">

	<mat-form-field class="no-hint password">
		<mat-label>{{ 'temporary_password' | translate }}</mat-label>
		<input matInput readonly formControlName="password" autocomplete="off" spellcheck="false" autocapitalize="off">
		<mat-icon matSuffix (click)="generate()" [matTooltip]="'generate_new' | translate">{{ 'icon_refresh' | translate }}</mat-icon>
	</mat-form-field>

	<button type="button" #copyElem mat-icon-button class="clickable clipboard" color="primary" (click)="copy(copyElem)" #tooltip="matTooltip" [matTooltip]="'copy_to_clipboard' | translate"><mat-icon>{{ 'icon_copy_to_clipboard' | translate }}</mat-icon></button>

	<button type="button" class="cancel" mat-dialog-close mat-button color="warn">{{ 'cancel' | translate }}</button>
	<button type="submit" class="submit" mat-raised-button color="accent">{{ 'ok' | translate }}</button>
</form>
