@import 'variables';

$my-border-width: 3px;
$my-border-style: dashed;
$my-border-radius: 6px;

:host {
	display: flex;
	height: inherit;
	width: inherit;
}

.drop-target {
	flex: 1 1 auto;
	position: relative;
	border: $my-border-width $my-border-style $primary;
	border-radius: $my-border-radius;
	z-index: 1;
}

.border {
	position: absolute;
	border: 0px solid $primary;
	width: 10%;
	height: 10%;
	display: block;
	z-index: 2;

	&.top-left {
		border-left-width: $my-border-width;
		border-top-width: $my-border-width;
		border-top-left-radius: $my-border-radius;
		top: -$my-border-width;
		left: -$my-border-width;
	}
	&.top-right {
		border-top-right-radius: $my-border-radius;
		border-top-width: $my-border-width;
		border-right-width: $my-border-width;
		top: -$my-border-width;
		right: -$my-border-width;
	}
	&.bottom-left {
		border-bottom-left-radius: $my-border-radius;
		border-left-width: $my-border-width;
		border-bottom-width: $my-border-width;
		left: -$my-border-width;
		bottom: -$my-border-width;
	}
	&.bottom-right {
		border-bottom-right-radius: $my-border-radius;
		border-right-width: $my-border-width;
		border-bottom-width: $my-border-width;
		right: -$my-border-width;
		bottom: -$my-border-width;
	}
}
