.report {
	::ng-deep .mat-checkbox-inner-container {
		margin-right: 4px;
	}

	.rp-table {
		max-width: 300px;
	}

	.text-gray {
		color: lightgray;
	}

	.cdk-drag-preview {
		display: flex;
		max-width: 290px;
		width: 290px;
		box-sizing: border-box;
		border-radius: 4px;
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
			0 8px 10px 1px rgba(0, 0, 0, 0.14),
			0 3px 14px 2px rgba(0, 0, 0, 0.12);

		// .mat-cell {
		// 	display: flex;
		// 	flex: 1 1 0;
		// 	border-bottom-style: none;
		// }
	}

	.cdk-drag-placeholder {
		opacity: 0;
	}

	.user-select-none {
		user-select: none;
		cursor: pointer;
	}

	.cdk-drag-animating {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}

	.available-cols-table {
		width: 300px;
		max-width: 300px;
		overflow: hidden;
		max-height: 500px;
		min-height: 500px;
		overflow-y: auto;

		table {
			width: 300px;
			max-width: 300px;

			tr {
				height: auto;
				display: block;
				max-width: 290px;
			}

			th {
				min-width: 300px;
				min-height: 40px;
				display: flex;
				align-items: center;
			}

			.mat-cell {
				user-select: none;
				display: flex;
				height: inherit;
				align-items: center;
			}
		}
	}

	.display-col-extra-table {
		width: calc(100% - 300px);
		overflow: auto;
		max-height: 500px;
		min-height: 500px;

		.mat-cell {
			user-select: none;
		}

		.mat-checkbox {
			margin: 0;
		}
	}

	.display-col-table {
		overflow: auto;
		// max-height: 680px;
		min-height: 324px;

		.mat-cell {
			user-select: none;
		}

		table {
			tr {
				height: auto;
			}

			th {
				height: 40px;
			}
		}
	}

	.insert-field-div {
		margin-top: 5px;

		::ng-deep .mat-form-field-wrapper {
			margin-bottom: -1rem;
		}
	}

	.mat-expansion-panel {
		box-shadow: none;

		mat-panel-title {
			border-bottom: 1px solid #3f51b5;
			color: rgba(0, 0, 0, 0.87);
		}
	}

	.mat-expansion-panel .mat-expansion-panel-header.mat-expanded {
		background-color: unset !important;
	}
}

::ng-deep .custom-panel-extra-item-class .mat-option {
	line-height: 1 !important;
	height: auto !important;
	min-height: 25px;
}

.editor-height {
	// min-height: 400px;
}

.preview-min-content {
	max-width: 290px;
	width: auto;
}

.selected {
	background: #c7def2;
}

.hide-visibility {
	visibility: hidden;
	background: white;
}

.action-div {
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #e0e0e0;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	padding: 0.5rem;

	height: 500px;
}

::ng-deep .report {
	.ck-editor__editable.ck-editor__editable_inline {
		min-height: 200px;
	}

	.ck.ck-dropdown__panel {
		max-height: 180px;
		/* or anything else, more likely ~300px or so */
		overflow-y: auto;
	}
}

.m-left-icon {
	margin-left: -8px;
}

.m-left-icon-in-extra {
	margin-left: -6px;
}

.hide-features {
	border: 1px solid #b7b6b6;
	width: 9rem;
	height: 11.5rem;
}

.checkbox {
	margin-top: calc(1px + -0.95em);
	margin-bottom: -5px;
}

.hide-options {
	border: 1px solid #b7b6b6;
	width: 21rem;
	height: 11.5rem;
}

.text-head {
	color: black;
	font-weight: 450;
}

.settings {
	border: 1px solid #b7b6b6;
	width: 21rem;
	height: 11.5rem;
}

// style="border-bottom: 45px solid rgb(0, 66, 128);
// 	border-right: 40px solid transparent;"

::ng-deep .custom-tab {
	$charcoal: rgba(38, 70, 83, 1);
	$persian-green: rgba(42, 157, 143, 1);
	$asparagus: rgba(138, 177, 125, 1);
	$maize-crayola: rgba(233, 196, 106, 1);
	$sandy-brown: rgba(244, 162, 97, 1);
	$burnt-sienna: rgba(231, 111, 81, 1);

	.mat-tab-label {
		// height: auto !important;
		// padding: 0 !important;
		position: relative;
		font-size: 14px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		//margin-left:4px; #TODO

		&:not(.mat-tab-label-active) {
			// background: #ffffff !important;
			// border-bottom: 45px solid #3f6f85 !important;
			border-right: 40px solid transparent;
			background-color: #d5d4d4e3;
			opacity: inherit;
			height: 32px;
			margin-top: 15px !important;
			box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;


		}

		// border-bottom: 45px solid #062635 !important;
		// border-right: 40px solid transparent;
	}

	.mat-tab-label-active {
		// color: unset !important;
		// background: #e0e0e0;
		// border: 2px dotted #e0e0e0 !important ;
		// border-bottom: 45px solid #c7def2 !important;
		border-right: 40px solid transparent;
		background: #4d7f96f2 !important;
		color: white;
		opacity: inherit;
		margin-top: 8px;
		height: 40px;
		box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	}

}

input.mat-input-element {
	font-size: 14px;
}

.mat-label-font {
	font-weight: 500;
}

::ng-deep {
	.mat-label {
		font-size: 14px !important;
	}

	div#mat-tab-label-0-5 {
		width: -webkit-fill-available;
		justify-content: unset;
		padding-left: 36px;
	}

	$custom-main-color: rgba(0, 0, 0, 0.6);
	$custom-label-color: rgba(0, 0, 0, 0.6);

	// mat-icon-stepper selected color change
	.mat-step-header .mat-step-icon-selected,
	.mat-step-header .mat-step-icon-state-done,
	.mat-step-header .mat-step-icon-state-edit {
		background-color: $custom-main-color !important;
	}

	.custom-tab .mat-tab-label:not(.mat-tab-label-active):hover {
		height: 42px;
		margin-top: 9px !important;
	}

	// input outline color
	.mat-form-field-appearance-outline .mat-form-field-outline {
		color: $custom-main-color !important;
	}

	// mat-input caret color
	.mat-input-element {
		caret-color: $custom-main-color !important;
	}

	.mat-ink-bar {
		height: 6px !important;
		width: -webkit-fill-available !important;
		filter: brightness(120%);
		left: 0px !important;
		// right: calc(100% - 962px);
	}

	.mat-tab-group.mat-primary .mat-ink-bar,
	.mat-tab-nav-bar.mat-primary .mat-ink-bar {
		background-color: #4d7f96f2;
	}

	.mat-checkbox-layout .mat-checkbox-label {
		font-size: 14px;
	}
}

.mat-label-style {
	font-size: 14px;
}

.font-box {
	width: 20px;
	height: 15px;
	border: 2px solid grey;
}

.selected-color-div {
	border: 1px solid grey;
	width: 90px;
}

.selected-color {
	width: 40px;
	height: 15px;
	border: 1px solid black;
}

.report-head {
	color: #648da1;
	font-size: 14px;
}

.report-name {
	border: 1px solid gray;
}

.selected-font-div {
	border: 1px solid grey;
	width: 90px;
	height: 24px;
}